<div class="g-bd">
    <div class="row">
        <div class="col-sm-2" ng-controller="GlobalNavCtrl">
            <div class="nav-bar" nav>
            </div>
        </div>
        <div class="col-sm-10">
            <div ui-view="" class="g-view view-animate">
                <div class="row">
                    <button class="button" ng-click="addItem()">
                        点击弹窗</button>
                </div>
                <div class="row">
                    <tageditor used-tags="usedTags" tags="tags"></tageditor>
                </div>
                <div class="row">
                    <table>
                        <thead>
                            <th><input type="checkbox"></th>
                            <th>名字</th>
                            <th>年龄</th>
                        </thead>

                        <shark-tbody  init-tbody="initTbody"></shark-tbody>
                        <!--<tbody>
                            <tr ng-repeat="item in datalist track by $index">
                                <td>
                                    <input type="checkbox"  ng-model="item.isItemChecked">
                                </td>
                                <td>
                                    {{item.purchaseOrder}}
                                </td>
                                <td>
                                    {{item.supplierCode}}
                                </td>>
                            </tr>
                        </tbody>-->
                    </table>
                </div>
                <div class="row">
                    <button class="btn btn-link" type="button" ng-click="selectAllProducts();">全选</button>
                    <button class="btn btn-link" type="button" ng-click="reverseProducts();">反选</button>
                    <button class="btn btn-link" type="button" ng-click="unSelectAllProducts();">不选</button>
                    <button class="btn btn-link" type="button" ng-click="getSelectedItems();">提交 </button>
                    <button class="btn btn-link" type="button" ng-click="changData();">更换数据 </button>
                    <pre>
                        {{selectedItems}}
                    </pre>
                </div>
            </div>
        </div>
    </div>
</div>